.btn {
  height: 60px;
  width: 200px;
  border-radius: 100px;
  background: linear-gradient(
    90deg,
    #753aff 0%,
    /* Fialová začíná */ #a855f7 100% /* Světlejší fialová/růžová končí */
  );
  font-weight: 500;

  cursor: pointer;

  color: white;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;

  position: relative;
  overflow: hidden;
  z-index: 1;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;

  left: -100%;
  width: 75%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.35),
    transparent
  );
  transform: skewX(-25deg);

  transition: left 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 25px rgba(117, 58, 255, 0.5);
}

.btn:hover::before {
  left: 125%;
}
