.notification {
  position: fixed;
  z-index: 9999;

  top: 100px;

  right: 10px;

  min-width: 350px;
  min-height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 20px;
  border: 1px solid var(--color-card);
  box-shadow: inset 0 0 18px rgba(255, 255, 255, 0.08),
    /* vnitřní jemný světelný glow */ inset 0 0 6px rgba(0, 0, 0, 0.25),
    /* jemné potemnění na okrajích */ 0 8px 28px rgba(0, 0, 0, 0.25);
}

.notifyOk {
  background-color: #753aff7e;
}
.notifyError {
  background-color: #a1231f7e;
}
