.hero {
  position: relative;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.bgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
  background-color: transparent;
}

.heroContent {
  align-self: center;
  z-index: 99;
  color: white;
  margin-bottom: 100px;
  padding: 50px;
  min-width: 65rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.textWrapper {
  border-left: 4px solid white;
  padding-left: 20px;
}
.heroContent h1 {
  font-weight: 700;
  font-size: 65px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.heroContent p {
  font-size: 42px;
  font-style: italic;
  font-weight: 400;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.heroContent h2 {
  font-size: 52px;
  font-weight: 600;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
