.myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoPlayer {
  width: 60%;

  height: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease-out;
}

.videoPlayer:hover {
  transform: scale(1.01);
}

.projectWrapper {
  margin-top: 100px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contentSpliter {
  display: flex;
  gap: 60px;
}

.descriptWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}
.projectName {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 30px;
}

.h2 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 100px;
  align-self: center;
}

.paragrahpWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.paragrahpWrapper p {
  font-size: 28px;
  font-weight: 300;
}
/* 🌐 TABLETY */
@media (min-width: 641px) and (max-width: 1024px) {
  .contentSpliter {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .videoPlayer {
    width: 100%;
  }

  .descriptWrapper {
    max-width: 90%;
    padding: 0 10px;
    text-align: start;
    font-size: clamp(22px, 4vw, 29px);
  }

  .projectName {
    font-size: 32px;
  }

  .paragrahpWrapper p {
    font-size: 28px;
  }
}

/* 📱 MOBILY */
@media (max-width: 640px) {
  .contentSpliter {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .videoPlayer {
    width: 100%;
    border-radius: 16px;
  }

  .descriptWrapper {
    width: 100%;
    padding: 0 12px;
    align-items: start;
    text-align: start;
    font-size: clamp(22px, 4vw, 29px);
  }

  .projectName {
    font-size: clamp(22px, 6vw, 28px);
    margin-bottom: 16px;
  }

  .paragrahpWrapper {
    gap: 18px;
  }

  .paragrahpWrapper p {
    font-size: clamp(18px, 5vw, 22px);
    line-height: 1.5;
    max-width: 90%;
  }
}
