.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150rem;
}
.contentContainer {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 300px;
}
.h2 {
  font-size: 36px;
  font-weight: 600;
  align-self: flex-start;
}
