.about {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.contentContainer {
  display: flex;
  margin-top: 300px;

  width: 100%;
  justify-content: space-around;

}

.textWrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.h2 {
  font-size: 38px;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 1.75rem;
}

.textWrapper p {
  font-size: 20px;
  line-height: 2;
  margin-bottom: 1.75rem;
}

.textWrapper p:last-child {
  margin-bottom: 0;
}




.psText {
  font-style: italic;
  opacity: 0.8;
  font-size: 18px;
}