.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.4s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: flex;
  gap: 40px;
  padding: 15px;
}
.li {
  font-size: 22px;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 10px;
  font-weight: 500;
  transition: transform 0.2s ease-out;
}
.li:hover {
  transform: scale(1.04) translateY(4px);
}
.active {
  background-color: white;
  color: black;
}
