.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
  /* decentní tmavý overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.loadingText {
  color: white;
  font-size: 1.2rem;
}
