@import "tailwindcss";
@import "tailwindcss";

:root {

  --color-bg: rgb(4, 0, 14);
  --color-text: #ffffff;
  --color-border: #616161;
}

html,
body {
  max-width: 100%;
}

#root {
  isolation: isolate;
}

@media (max-width: 768px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}