.cardsContainer {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0 auto;
  gap: 25px;
}
.fadeItem {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.textWrapper {
  font-size: 28px;
  margin-top: 300px;
  max-width: 650px;
  line-height: 1.4;
  color: white;
}
.italicText {
  font-style: italic;
  margin-bottom: 10px;
  color: #753aff;
}
.stackCard {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 100%;
  border-radius: 18px;
}

.cardIconWrapper {
  margin-bottom: 20px;
}

.cardContentBox {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 24px;
}

.cardSubtitle {
  font-size: 20px;
  margin-top: 10px;
}

.cardDescript {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(161, 161, 170);
}
@media (max-width: 640px) {
  .cardsContainer {
    flex-direction: column;
  }
  .cardTitle {
    font-size: 21px;
  }
  .cardSubtitle {
    font-size: 18px;
  }
  .stackCard {
    width: 100%;
  }
  .cardDescript {
    font-size: 16px;
  }
  .textWrapper {
    margin-top: 160px;
    font-size: clamp(18px, 5vw, 22px);
    text-align: start;
    align-self: center !important;
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
  }

  .italicText {
    color: #864bff;
    font-size: clamp(18px, 5.2vw, 22px);
  }
}

@media (min-width: 641px) and (max-width: 980px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
  .textWrapper {
    margin-top: 220px;
    font-size: 28px;
    text-align: start;
    align-self: center !important;
    margin-left: 0;
    margin-right: 0;
    padding: 0 60px;
  }

  .italicText {
    color: #7d45ff;
    font-size: 28px;
  }
}

@media (min-width: 981px) and (max-width: 1024px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
