.pointerWrapper {
  font-size: 32px;
}

@media (max-width: 640px) {
  .pointerTitle {
    font-size: 24px;
  }
}

@media (min-width: 641px) and (max-width: 980px) {
  .pointerTitle {
    font-size: 28px;
  }
}